@use 'src/styles/utils/vars' as *;
@use 'src/styles/utils/mixins' as *;

.embla {
  width: 100%;
  overflow: hidden;
}

.embla__container {
  gap: $gap-l;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: $card-width;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(auto-fill, minmax($card-width, 1fr));
}

.embla__slide {
  scroll-snap-align: start;
}

.embla__dots {
  display: flex;
  justify-content: center;

  gap: $gap-s;
  margin-top: $margin;
}

.embla__dot {
  width: 8px;
  aspect-ratio: 1;
  box-sizing: border-box;

  border-radius: $border-radius-c;
  border: $border-m solid var(--gray);

  cursor: pointer;

  opacity: 0.6;
  transition:
    background-color 0.3s ease,
    opacity 0.3s ease;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }
}

.embla__dot--selected {
  background: var(--gray);
  opacity: 1;
}
