$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;

$body-pad: 8px;
$progress-bar-height: 30px;
$progress-bar-height-desktop: 40px;

$border-s: 0.5px;
$border-m: 1px;

$margin: 16px;

$padding-s: 4px;
$padding-m: 8px;
$padding-xm: 12px;
$padding-l: 16px;
$padding-xl: 24px;
$padding-xxl: 32px;

$border-radius-c: 50%;
$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-xm: 12px;
$border-radius-l: 16px;
$border-radius-xl: 24px;

$gap-s: 4px;
$gap-m: 8px;
$gap-l: 16px;
$gap-xl: 24px;
$gap-xxl: 32px;

$overview-gap: $gap-l;
$overview-gap-tablet: $gap-xl;

$card-width: 196px;
